*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* Neutral Colors */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Cream);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.wrapper {
  display: flex;
  align-items: stretch;
  max-width: 800px;
  width: 90%;
  background-color: var(--White);
  border-radius: 20px;
}

.image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  height: auto;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.description-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: flex-start;
}
